<div class="login-form-container">
	<div class="login-username">
		<label class="username-label"></label>
		<input class="username-input" type="text"> 
	</div>
	<div class="login-password">
		<label class="password-label"></label>
		<input class="password-input" type="text"> 
	</div>
	<button class="login-button">Login</button>
</div>